<div class="container">
    <div *ngIf="isCopied" class="copied-message">Copied!</div>
    <div class="card">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container> -->

            <!-- Position Column -->
            <ng-container matColumnDef="website">
                <mat-header-cell *matHeaderCellDef> Website </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} 
                    <button mat-button class="copy-btn" ngxClipboard cbContent={{element.username}} (cbOnSuccess)="showCopiedMessage()"><mat-icon>file_copy</mat-icon></button>
                </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{hashPassword(element.password)}}
                    <button mat-button class="copy-btn" ngxClipboard cbContent={{element.password}} (cbOnSuccess)="showCopiedMessage()" ><mat-icon>file_copy</mat-icon></button>
                </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index">
                    <!-- <button mat-icon-button color="accent" (click)="edit(element.id)" class="tbl-action-btn"
                        matTooltip="Edit">
                    </button> -->
                    <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                        (click)="deleteItem(element.id, element)" class="tbl-action-btn" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

    </div>

    <div>
        <form [formGroup]="userDataForm" (ngSubmit)="addPassword()" class="form">
            <mat-form-field appearance="outline">
                <mat-label>Website</mat-label>
                <input matInput formControlName="website" placeholder="Placeholder" id="website">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Placeholder" id="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Password</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Placeholder" id="password">
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!userDataForm.valid">Submit</button>
        </form>
    </div>
</div>