table {
  width: 80%;
}
.container {
  width: 96%;
  margin: 1rem;
}
.card {
  margin: 2rem;
  float: left;
  width: 60%;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.copied-message{
  color: green;
  text-align: center;
  align-items: center;
}